<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <system.webServer>
        <rewrite>
            <rules>
            <rule name="f404" stopProcessing="true">
                        <match url="^404\.html$" ignoreCase="true" />
                        <action type="Rewrite" url="/404.asp" />
                </rule>
                <rule name="LowerCaseRule1" stopProcessing="true">
                    <match url="[A-Z]" ignoreCase="false" />
                    <action type="Redirect" url="{ToLower:{URL}}" />
                </rule>
                <rule name="houseproperty" stopProcessing="true">
                        <match url="^houseproperty\.html$" ignoreCase="true" />
                        <action type="Rewrite" url="/HouseProperty.asp" />
                </rule>
                <rule name="houseproperty-bc-sc-fj-lx-lb-order-page-key" stopProcessing="true">
                        <match url="^houseproperty/([0-9]+)/([0-9]+)/([0-9]+)/([0-9]+)/([0-9]+)/([0-9]+)/([0-9]+)/(([\w|\-|_])+)\.html$" ignoreCase="true" />
                        <action type="Rewrite" url="/HouseProperty.asp?bc={R:1}&amp;sc={R:2}&amp;fj={R:3}&amp;lx={R:4}&amp;lb={R:5}&amp;order={R:6}&amp;page={R:7}&amp;key={R:8}" />
                </rule>
                <rule name="housedetail" stopProcessing="true">
                        <match url="^housedetail/([0-9]+)\.html$" ignoreCase="true" />
                        <action type="Rewrite" url="/housedetail.asp?id={R:1}" />
                </rule>
                <rule name="ResaleInfo" stopProcessing="true">
                        <match url="^ResaleInfo\.html$" ignoreCase="true" />
                        <action type="Rewrite" url="/ResaleInfo.asp" />
                </rule>
                <rule name="RentalService" stopProcessing="true">
                        <match url="^RentalService\.html$" ignoreCase="true" />
                        <action type="Rewrite" url="/RentalService.asp" />
                </rule>
                <rule name="hotspotsInfo" stopProcessing="true">
                        <match url="^hotspotsInfo/([0-9]+)\.html$" ignoreCase="true" />
                        <action type="Rewrite" url="/hotspotsInfo.asp?page={R:1}" />
                </rule>
                <rule name="hotspots" stopProcessing="true">
                        <match url="^hotspots/([0-9]+)\.html$" ignoreCase="true" />
                        <action type="Rewrite" url="/hotspots.asp?c={R:1}" />
                </rule>
                <rule name="hotspotsInfo2" stopProcessing="true">
                        <match url="^hotspotsInfo2/([0-9]+)\.html$" ignoreCase="true" />
                        <action type="Rewrite" url="/hotspotsInfo2.asp" />
                </rule>
                <rule name="hotspotsview" stopProcessing="true">
                        <match url="^hotspotsview/([0-9]+)\.html$" ignoreCase="true" />
                        <action type="Rewrite" url="/hotspotsview.asp?id={R:1}" />
                </rule>
                <rule name="News" stopProcessing="true">
                        <match url="^News\.html$" ignoreCase="true" />
                        <action type="Rewrite" url="/News.asp" />
                </rule>
                <rule name="News2" stopProcessing="true">
                        <match url="^News2\.html$" ignoreCase="true" />
                        <action type="Rewrite" url="/News2.asp" />
                </rule>
                <rule name="News3" stopProcessing="true">
                        <match url="^News3\.html$" ignoreCase="true" />
                        <action type="Rewrite" url="/News3.asp" />
                </rule>
                <rule name="News-c-p" stopProcessing="true">
                        <match url="^News/([0-9]+)/([0-9]+)\.html$" ignoreCase="true" /><!--(([\w|\-|_])+)-->
                        <action type="Rewrite" url="/News.asp?c={R:1}&amp;page={R:2}" />
                </rule>
                <rule name="NewsView" stopProcessing="true">
                        <match url="^NewsView/([0-9]+)\.html$" ignoreCase="true" />
                        <action type="Rewrite" url="/NewsView.asp?id={R:1}" />
                </rule>
                <rule name="MarketReportp" stopProcessing="true">
                        <match url="^MarketReport/([0-9]+)/([0-9]+)\.html$" ignoreCase="true" />
                        <action type="Rewrite" url="/MarketReport.asp?c={R:1}&amp;page={R:2}" />
                </rule>
                <rule name="MarketReport" stopProcessing="true">
                        <match url="^MarketReport\.html$" ignoreCase="true" />
                        <action type="Rewrite" url="/MarketReport.asp" />
                </rule>
                <rule name="MarketReport2p" stopProcessing="true">
                        <match url="^MarketReport2/([0-9]+)\.html$" ignoreCase="true" />
                        <action type="Rewrite" url="/MarketReport2.asp?page={R:1}" />
                </rule>
                 <rule name="MarketReport2" stopProcessing="true">
                        <match url="^MarketReport2\.html$" ignoreCase="true" />
                        <action type="Rewrite" url="/MarketReport2.asp" />
                </rule>
                <rule name="MarketReport3p" stopProcessing="true">
                        <match url="^MarketReport3/([0-9]+)\.html$" ignoreCase="true" />
                        <action type="Rewrite" url="/MarketReport3.asp?page={R:1}" />
                </rule>
                <rule name="MarketReport3" stopProcessing="true">
                        <match url="^MarketReport3\.html$" ignoreCase="true" />
                        <action type="Rewrite" url="/MarketReport3.asp" />
                </rule>
                <rule name="MarketReportMore" stopProcessing="true">
                        <match url="^MarketReportMore/([0-9]+)\.html$" ignoreCase="true" />
                        <action type="Rewrite" url="/MarketReportMore.asp?id={R:1}" />
                </rule>
                <rule name="Register" stopProcessing="true">
                        <match url="^Register\.html$" ignoreCase="true" />
                        <action type="Rewrite" url="/Register.asp" />
                </rule>
                <rule name="Login" stopProcessing="true">
                        <match url="^Login\.html$" ignoreCase="true" />
                        <action type="Rewrite" url="/Login.asp" />
                </rule>
                <rule name="quit" stopProcessing="true">
                        <match url="^quit\.html$" ignoreCase="true" />
                        <action type="Rewrite" url="/quit.asp" />
                </rule>
                <rule name="index" stopProcessing="true">
                    <match url="^index\.html$" ignoreCase="true" />
                    <action type="Rewrite" url="/index.asp" />
                </rule>
                <rule name="about" stopProcessing="true">
                    <match url="^about/([0-9]+)\.html$" ignoreCase="true" />
                    <action type="Rewrite" url="/about.asp?id={R:1}" />
                </rule>
            </rules>

        </rewrite>
        <defaultDocument>
            <files>
                <clear />
                <add value="index.asp" />
                <add value="index.html" />
                <add value="Default.htm" />
                <add value="Default.asp" />
                <add value="index.htm" />
                <add value="iisstart.htm" />
            </files>
        </defaultDocument>
        <httpErrors>
            <remove statusCode="404" subStatusCode="-1" />
            <error statusCode="404" prefixLanguageFilePath="" path="/404.html" responseMode="ExecuteURL" />
        </httpErrors>
    </system.webServer>
</configuration>
